@import url('https://fonts.googleapis.com/css?family=Montserrat');

// color scheme
$color-primary:             #6dc24b;
$color-secondary:           #00a2e2;
$color-danger:              #ff0000;
$color-warning:             #ff9900;
$white:                     #ffffff;
$header-bg:                 #29363d;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #555555;
$gray-800: #343a40;
$gray-900: #212529;

// font family
$base-font-family:            'Montserrat', sans-serif;

// font base
$font-size-base:              1rem;
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

// font weight
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semi-bold:       600;
$font-weight-bold:            700;